  .header {
    color:aliceblue;
    background-color: #2f9191;
  }
  .main{
    color:aliceblue;
    background-color: #4690c2;
  }
  .footer{
    color:aliceblue;
    background-color: #a0adf7;
  }
  .header,
  .footer,
  .main {
    padding: 30px;
  }
  