* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: URL('FONDO.jpg') ;
}
.form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;

}

.form-register h4 {
font-size: 22px;
margin-bottom: 20px;
}
.Controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}



.form-register a:hover {
    color: white;
    text-decoration: underline;
}
.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}